body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	background-color: #666;
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.wrapper {
	background-color: #FFF;
	width: 950px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
}
.HC {
	color: #FFF;
}
.blue {
	color: #0080FF;
}
.xxlarge {
	font-size: xx-large;
}
